* {
    margin: 0;
    padding: 0;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    margin: 0 auto;
    /*width: 960px;*/
    width:67.5%; /* +/- 960 */
}

h1 {
    /*font-size: 32px;*/
    font-size: 2em; /* 32 / 16 */
}

.brief {
    margin: 5px 0;
}

.content {
    /*margin: 15px 0;*/
    margin: 1.5625% 0;
}

.content-main {
    float: left;
    /*width: 593px;*/
    width: 61.7708%; /* 593(.content-main) / 960 (.container) */
}

.hero {
    /*margin: 25px 0;*/
    margin: 4.2158% 0; /*25 / 593*/
}

.brief {
    /*margin: 5px 0;*/
    margin: 1% 0; /* 5 / 593 */
}

.last-contents {
    /*font-size: 12px;*/
    font-size: .75em; /* 12 / 16 */
}

.last-content-call {
    float: left;
    /*margin: 15px 15px 15px 0;*/
    /*width: 280px;*/
    margin: 2.5295% 2.5295% 2.5295% 0;
    width: 47.2175%;
}

.last-content-call .secondary-title {
    margin-bottom: 0;
}

.last-content-call .brief {
    /*margin: 5px;*/
    margin: 1.7857% 0;
}

.content-sidebar {
    background-color:#F0F0F0;
    float: right;
    /*padding: 10px;*/
    /*width: 322px;*/
    padding: 1.0416%; /* 10 / 960 */
    width: 33.5416%; /* 322 / 960 */
}

.main-nav ul {
    list-style-type: none;
}

.main-nav li {
    background-color: #F9F9F9;
    float: left;
    /*margin: 15px;*/
    margin: 4.6583%;
    outline: 1px solid #DEDEDE;
    text-align: center;
    /*width: 130px;*/
    width: 40.3726%;
}

.main-nav a {
    display: block;
    /*padding: 10px;*/
    padding: 7.6923%;
    text-decoration: none;
}

.main-footer {
    background-color: #F0F0F0;
    float: left;
    font-size: .75em; /*12 / 16*/
    margin: 1.5625% 0; /* 15 / 960 */
    padding: 1.5625%;
    text-align: center;
    width:100%;
}